section {
  position: relative;
  height: 100vh;
  font-size: 50px;
  text-align: center;
  line-height: 100vh;
}

.img-mask {
  position: absolute;
  height: 100%;
  width: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
}
.img-mask img {
  height: 100vh;
}

.overlay {
  width: 100%;
  height: 100%;
  position: absolute;
}